
/* Header Sections */
  .jumbotron {
    padding: 4.5%;
    background: linear-gradient(rgba(125, 77, 125, 0.5), rgba(65, 81, 250, 0.5)), url("../images/pearl_street.png");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgba(125, 77, 125, 0.5), rgba(65, 81, 250, 0.5)), url("../images/pearl_street.png"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px 50px;

  }
  .jumbotron h1 {
    font-family: 'Carter One', cursive;
    /* font-size: rem; */
    color: #ffffff;
    opacity: 1 !important;
  }
  .jumbotron h2 {
    font-family: 'Carter One', cursive;
    /* font-size: rem; */
    color: #ffffff;
    opacity: 1 !important;
  }
  /* .rukpagepad {
    padding: 20px 20px 0px 20px;
  } */

  .rukbgcolor1 {
    background-color: rgba(208, 208, 208, 0.1);
  }

  /* Spacing & General */
  .rukspace {
    padding: 20px 20px 0px 20px;
  }
  .container-fluid {
    padding: 0px;
  }

  hr.rukstyle {
    border: 0;
    height: 1px;
    margin-bottom: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

  /* Verbiage Sections */
  .bodyText{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
  }
  .titleimg {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    background-image: url('../images/bldr_v_goog.png');
    background-repeat: no-repeat;
    background-position: 50%;
  }

    /* Panel Block styling */
  .display {
    padding: 20px 20px 50px 20px;
  }
  .well{
    height:100%;
  }
  .facility-header h2 {
    /* font-size: 50px; */
    font-family: 'Carter One', cursive;
    padding: 20px 0px 20px 0px;
    border-radius: 50px 15px;
    background-color: rgba(17, 25, 116, 0.3);
    /* background: linear-gradient(rgba(125, 77, 125, 0.5), rgba(65, 81, 250, 0.5));  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(rgba(125, 77, 125, 0.5), rgba(65, 81, 250, 0.5)); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .col-md-4 {
    padding-top:20px;
  }
  .col-md-4 h6 {
    font-weight: bold;
    /* font-size: 14px; */
    text-align: left;
    margin-left: 10%;
  
  }
  .panel-body {
    padding: 10px;
    height:100%;
  }
   select {
    width: 100% !important;
   }

  .panel-body h3 {
    margin: 0px 0px 0px 0px;
  }

  infodisplay {
    font-weight: normal !important;
  }

  .col-md-5{
    padding:20px;
  }

.violations{
  height:250px;
  overflow-y:scroll;
  text-align: left;
}
  violationsdis h6 {
    text-align: left !important;
  }

  violationsdis::after{
    content: "\a";
    white-space: pre;
}

  /* Tableau Styling */
  .tableauPlaceholder {
    width: 100%;
  }